h1{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 3em;
}
h2{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 1.2em;
}
#BUTTON_ANQ {
    background-color: #004165; 
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 45%;
  }

  #BUTTON_ANQ:hover{
      cursor: pointer;
  }